@import "bootstrap/dist/css/bootstrap.min.css";
button {
  border: none;
  background: transparent;
  outline: none;
}
span {
  font-size: 2rem;
  margin:.5rem;
}
.on {
  color: goldenrod;
}
.off {
  color: #b7afaf;
}

.star{
  display: flex;
  flex-wrap: wrap;
}
.con{
  position:relative;
  inset: 0;
  margin: auto;


}